.iti { width: 100%; }
.iti.iti--allow-dropdown {width: 100%}
.iti-mobile { width: 100%; }
.iti.iti--allow-dropdown{width:100%;}

/* Dark Theme */
input#phone{
	width: 100%;
    border: none;
    padding-left: 19%;
    border: 1px solid grey;
    padding-bottom: 1%;
   /*  background: #303030; */
    padding-top: 3%;
    padding-bottom: 3%;
    color: black;
}

input.text-input.text-input--material {
	padding-bottom: 4%;
    padding-top: 4%;
    text-align: center;
}



