.card-images {
	padding: 0;
    margin: 0;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.completion-image-container{
	width: 100%;
	text-align :  center;
}

img.image-completion{
	width: 100%;
    /* margin: auto 0; */
    text-align: center;
    border-radius: 100%;
    height: 200px;
    border: 3px dashed #9E9E9E;
}

.center-image {
	width: 60%;
    height: 100%;
    margin: 0;
    height: 100%;
    display: inline-block;
}

.card-align {
	top: 1%;
    position: relative;
    width: 96%;
    padding: 0;
    left: 2%;
    padding-top: 6%;
    padding-bottom: 6%;
}

.photo-change {
    position: absolute;
    z-index: 99999;
    width: 20px;
    height: 20px;
    background: rebeccapurple;
    border-radius: 100%;
    left: 62%;
}